process.executor         = 'slurm'
process.cpus             = 1
process.memory           = '2.GB'
process.time             = '4h'
process.queue            = 'earth-3'
executor {
    $slurm {
        // Limit number of parallel SLURM jobs to 8.
        queueSize = 8
    }
}

process.conda = '/cfs/earth/scratch/shared/bioinfo4beginners/Genomics/Env_Genomics' 
process.container = "ghcr.io/kondratievaolesya/bio_env:2"